
<div class="body-title">
    <h1>產品</h1>
</div>

<div class="body-content">
    <div class="row">
        <div class="col-md-5">
            <form class="form-inline">
                <a asp-action="Create" class="mb-2 mr-sm-2 mb-sm-2 btn btn-primary">新增產品 <i class="fa fa-plus"></i></a>
            </form>
        </div>
        <div class="col-md-7">
            @*<form asp-action="Index" method="get" class="form-inline float-right">

                    <select asp-for="SearchParams.Selector" class="form-control mb-2 mr-sm-2 mb-sm-2">
                        <option value="1">帳號</option>
                        <option value="2">名稱</option>
                    </select>

                    <input asp-for="SearchParams.Keyword" type="text" class="form-control mb-2 mr-sm-2 mb-sm-2" placeholder="搜尋內容" />

                    <button type="submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-2">查詢 <i class="fa fa-search"></i></button>

                </form>*@
        </div>
    </div>
</div>

